.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.footer ul  {
    list-style-type: none;
}
.footer__link{
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height: 170%;
}
.footer__contact {
    width: 361px;
}
.footer__mail {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.footer__contact div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}